In [3]:
from pyspark.sql import SparkSession
import findspark

findspark.init()
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [4]:
import os
import pymongo
import pandas as pd
from dotenv import load_dotenv
load_dotenv('../../config/.env')
mongo_uri = os.getenv('MONGO_URI')
client = pymongo.MongoClient(f'{mongo_uri}')
db = client['name']
collection = db['thai_name']


document = list(collection.find())
client.close()

In [12]:
df = pd.DataFrame(document)
df = df.drop(columns=['_id'])

df_dummies = pd.get_dummies(df, drop_first=True, columns=['gender'])


display(df_dummies)

             name  gender_m
0         Abduloh      True
1     Abdulrohman      True
2      Abdulroman      True
3         Abhisit      True
4          Achara     False
...           ...       ...
4165    Yutthasak      True
4166    Yutthasat      True
4167      Yuvadee     False
4168      Yuwadee     False
4169       Yuwadi     False

[4170 rows x 2 columns]