# Country Searcher

In [2]:
import json
import pandas as pd
import pydeck as pdk
from geopy.geocoders import Nominatim
import geopandas as gpd
from shapely.geometry import Point
import random
from pymongo import MongoClient

# Replace with your API key from Elsevier
API_KEY = "9dd590e8ec8a8513452bd2912d8b0e9d"
BASE_URL = 'https://api.elsevier.com/content/search/scopus'

In [3]:
def loadJsonData(filename):
    try:
        with open(filename, 'r', encoding='utf-8') as file:
            data = json.load(file)
    except UnicodeDecodeError:
        try:
            with open(filename, 'r', encoding='latin-1') as file:
                data = json.load(file)
        except UnicodeDecodeError:
            return "Failed to load data. Please check the file encoding."
    except FileNotFoundError:
        return "Failed to load data. File not found."
    return data

# Load data
data = loadJsonData(r'E:\Works\Intro-to-Data-Science\2110403_DSDE_Final_Project\src\data\db-data\predicted_data.json')
df = pd.DataFrame(data)

In [4]:
from geopy.geocoders import Nominatim

def locate_place(address):
    geolocator = Nominatim(user_agent="geoapi", timeout=10)
    location = geolocator.geocode(address, language="en")

    if location:
        # Extract the last part of the address (country name)
        localized_country_name = location.address.split(",")[-1].strip()
        # standardized_country_name = get_country_name_in_english(localized_country_name)
        split_address = location.address.split(",")
        if len(split_address) > 1:
            country_name = split_address[-1].strip()
        else:
            country_name = location.address
        # print(country_name)
        # print(localized_country_name)
        # print(standardized_country_name)
        return country_name
    else:
        return "None"

In [ ]:
count = df.groupby('affiliation').size().reset_index(name='count')
count 
affiliation_list = count['affiliation'].tolist()

affiliation_list = set(affiliation_list)

_dict = {}
count = 0

for affiliation in affiliation_list:
    split_data = affiliation.split(',')
    split_data = [a.strip() for a in split_data]
    if len(split_data) > 1:
        location = split_data[-1]
    else:
        location = affiliation.strip()
    
    country_name = locate_place(location)
    _dict.update({affiliation: country_name})
    # print(affiliation, country_name)
    # count += 1
    # if count == 100:
    #     break

In [ ]:
for key, val in _dict.items():
    if val == None:
        val = "None"
    print(key, val)

In [ ]:
with open(r'E:\Works\Intro-to-Data-Science\2110403_DSDE_Final_Project\src\data\db-data\affiliation_country.json', 'w') as f:
    json.dump(_dict, f, indent=4)

In [ ]:
def mapper(x):
    if x == "Unknown":
        return None
    
    if x in _dict:
        return _dict[x]
    else:
        return None

In [ ]:
df = pd.DataFrame(data)
df['country_name'] = df['affiliation'].apply(lambda x: mapper(x))
df

In [ ]:
df.to_json(r'E:\Works\Intro-to-Data-Science\2110403_DSDE_Final_Project\src\data\db-data\predicted_data_with_country_name.json', orient='records', lines=True)

# Latitude Longitude from country name

In [8]:
from geopy.geocoders import Nominatim

def get_lat_lon(country_name):
    geolocator = Nominatim(user_agent="geoapi")
    location = geolocator.geocode(country_name)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

# Example usage

In [23]:
data = loadJsonData(r'E:\Works\Intro-to-Data-Science\2110403_DSDE_Final_Project\src\data\db-data\predicted_data_with_country.json')
df = pd.DataFrame(data)
country = df['country_name'].tolist()
country = set(country)
len(country)

164

In [24]:
lat_long_dict = {}
count = 0
for c in country:
    lat, lon = get_lat_lon(c)
    print(count, c, lat, lon)
    lat_long_dict.update({c: (lat, lon)})
    count += 1
    
for key, val in lat_long_dict.items():
    print(key, val[0], val[1])

0 Russia 64.6863136 97.7453061
1 Saudi Arabia 25.6242618 42.3528328
2 Lithuania 55.3500003 23.7499997
3 Czechia 49.7439047 15.3381061
4 France 46.603354 1.8883335
5 South Korea 36.638392 127.6961188
6 Norway 64.5731537 11.52803643954819
7 Jordan 44.6663146 -93.6261918
8 Singapore 1.357107 103.8194992
9 Chad 15.6134137 19.0156172
10 None 44.933143 7.540121
11 Costa Rica 10.2735633 -84.0739102
12 Poland 52.215933 19.134422
13 Ireland 52.865196 -7.9794599
14 Barbados 13.1500331 -59.5250305
15 Hungary 47.1817585 19.5060937
16 Latvia 56.8406494 24.7537645
17 Netherlands 52.2434979 5.6343227
18 Fiji -18.1239696 179.0122737
19 Kuwait 29.3796532 47.9734174
20 Vietnam 15.9266657 107.9650855
21 Iraq 33.0955793 44.1749775
22 Federated States of Micronesia 8.6062347 151.832744331612
23 Iceland 64.9841821 -18.1059013
24 Bhutan 27.549511 90.5119273
25 Pakistan 30.3308401 71.247499
26 Lebanon 40.375713 -76.4626118
27 Burundi -3.426449 29.9324519
28 Ethiopia 10.2116702 38.6521203
29 Togo 8.7800265 1.0199765
30 Georgia 32.3293809 -83.1137366
31 Trinidad and Tobago 10.7466905 -61.0840075
32 Nicaragua 12.6090157 -85.2936911
33 Maldives 3.7203503 73.2244152
34 Mauritius -20.2759451 57.5703566
35 Bulgaria 42.6073975 25.4856617
36 Estonia 58.7523778 25.3319078
37 Dominican Republic 19.0974031 -70.3028026
38 Angola -11.8775768 17.5691241
39 Seychelles -4.6574977 55.4540146
40 Panama 8.559559 -81.1308434
41 Niger 17.7356214 9.3238432
42 Tunisia 36.8002068 10.1857757
43 Bolivia -17.0568696 -64.9912286
44 Afghanistan 33.7680065 66.2385139
45 Liberia 5.7499721 -9.3658524
46 Zimbabwe -18.4554963 29.7468414
47 Cape Verde 16.0000552 -24.0083947
48 United Arab Emirates 24.0002488 53.9994829
49 Italy 42.6384261 12.674297
50 Madagascar -18.9249604 46.4416422
51 South Africa -28.8166236 24.991639
52 Senegal 14.4750607 -14.4529612
53 Austria 47.59397 14.12456
54 Sudan 34.0678644 -102.524362
55 United States 39.7837304 -100.445882
56 North Macedonia 41.6171214 21.7168387
57 Sri Lanka 7.5554942 80.7137847
58 China 35.0000663 104.999955
59 Sierra Leone 8.6400349 -11.8400269
60 Papua New Guinea -5.6816069 144.2489081
61 Serbia 44.024322850000004 21.07657433209902
62 Mauritania 20.2540382 -9.2399263
63 Argentina -34.9964963 -64.9672817
64 Albania 5.7587654 -73.9151617
65 Malaysia 4.5693754 102.2656823
66 Zambia -14.5189121 27.5589884
67 Greece 38.9953683 21.9877132
68 Guyana 4.8417097 -58.6416891
69 Ghana 8.0300284 -1.0800271
70 Brunei 4.4137155 114.5653908
71 Slovenia 46.1199444 14.8153333
72 Bahamas 24.7736546 -78.0000547
73 Rwanda -1.9646631 30.0644358
74 Guinea 10.7226226 -10.7083587
75 Australia -24.7761086 134.755
76 Ukraine 49.4871968 31.2718321
77 Moldova 47.2879608 28.5670941
78 Luxembourg 49.6112768 6.129799
79 Cuba 23.0131338 -80.8328748
80 Bosnia and Herzegovina 44.3053476 17.5961467
81 Portugal 39.6621648 -8.1353519
82 Uzbekistan 41.32373 63.9528098
83 Haiti 19.1399952 -72.3570972
84 Benin 9.5293472 2.2584408
85 Belarus 53.4250605 27.6971358
86 Burkina Faso 12.0753083 -1.6880314
87 Monaco 43.7323492 7.4276832
88 Bangladesh 24.4769288 90.2934413
89 Germany 51.1638175 10.4478313
90 Oman 21.0000287 57.0036901
91 Cambodia 12.5433216 104.8144914
92 Kazakhstan 48.1012954 66.7780818
93 Spain 39.3260685 -4.8379791
94 Tanzania -6.5247123 35.7878438
95 Kyrgyzstan 41.5089324 74.724091
96 Somalia 8.3676771 49.083416
97 Mongolia 46.8250388 103.8499736
98 Gabon -0.8999695 11.6899699
99 South Sudan 7.8699431 29.6667897
100 Syria 34.8147886 38.42317811509885
101 Yemen 16.3471243 47.8915271
102 Libya 26.8234472 18.1236723
103 Thailand 14.8971921 100.83273
104 Cameroon 4.6125522 13.1535811
105 Chile -31.7613365 -71.3187697
106 Nigeria 9.6000359 7.9999721
107 Colombia 4.099917 -72.9088133
108 Kenya 1.4419683 38.4313975
109 The Gambia 13.470062 -15.4900464
110 Philippines 12.7503486 122.7312101
111 Croatia 45.3658443 15.6575209
112 Brazil -10.3333333 -53.2
113 Democratic Republic of the Congo -2.9814344 23.8222636
114 Belize 17.1204943 -88.6859028
115 Guatemala 15.5855545 -90.345759
116 Laos 20.0171109 103.378253
117 Switzerland 46.7985624 8.2319736
118 Azerbaijan 40.3936294 47.7872508
119 Ecuador -1.3397668 -79.3666965
120 Taiwan 23.5983227 120.83537694479215
121 Nepal 28.3780464 83.9999901
122 Algeria 28.0000272 2.9999825
123 Iran 32.6475314 54.5643516
124 Uruguay -32.8755548 -56.0201525
125 Palestinian Territories 31.462420950000002 34.26272151195113
126 Morocco 28.3347722 -10.371337908392647
127 Montenegro -29.6826112 -51.4687455
128 United Kingdom 54.7023545 -3.2765753
129 Qatar 25.3336984 51.2295295
130 Canada 61.0666922 -107.991707
131 Botswana -23.1681782 24.5928742
132 Sweden 59.6749712 14.5208584
133 Finland 63.2467777 25.9209164
134 Myanmar 17.1750495 95.9999652
135 Mexico 19.4326296 -99.1331785
136 Armenia 4.536307 -75.6723751
137 Romania 45.9852129 24.6859225
138 India 22.3511148 78.6677428
139 Venezuela 8.0018709 -66.1109318
140 None 44.933143 7.540121
141 Peru -6.8699697 -75.0458515
142 Côte d'Ivoire 7.9897371 -5.5679458
143 Cyprus 34.9174159 32.889902651331866
144 Egypt 26.2540493 29.2675469
145 Turkey 38.9597594 34.9249653
146 Uganda 1.5333554 32.2166578
147 Malawi -13.2687204 33.9301963
148 Malta 35.8885993 14.4476911
149 Mozambique -19.302233 34.9144977
150 Guinea-Bissau 11.815215 -15.2351044
151 Paraguay -23.3165935 -58.1693445
152 Central African Republic 7.0323598 19.9981227
153 New Zealand -41.5000831 172.8344077
154 Mali 16.3700359 -2.2900239
155 Slovakia 48.7411522 19.4528646
156 Honduras 15.2572432 -86.0755145
157 Japan 36.5748441 139.2394179
158 Jamaica 18.1850507 -77.3947693
159 Israel 30.8124247 34.8594762
160 Bahrain 26.030093 50.553336789123236
161 Denmark 55.670249 10.3333283
162 Indonesia -2.4833826 117.8902853
163 Belgium 50.6402809 4.6667145
Russia 64.6863136 97.7453061
Saudi Arabia 25.6242618 42.3528328
Lithuania 55.3500003 23.7499997
Czechia 49.7439047 15.3381061
France 46.603354 1.8883335
South Korea 36.638392 127.6961188
Norway 64.5731537 11.52803643954819
Jordan 44.6663146 -93.6261918
Singapore 1.357107 103.8194992
Chad 15.6134137 19.0156172
None 44.933143 7.540121
Costa Rica 10.2735633 -84.0739102
Poland 52.215933 19.134422
Ireland 52.865196 -7.9794599
Barbados 13.1500331 -59.5250305
Hungary 47.1817585 19.5060937
Latvia 56.8406494 24.7537645
Netherlands 52.2434979 5.6343227
Fiji -18.1239696 179.0122737
Kuwait 29.3796532 47.9734174
Vietnam 15.9266657 107.9650855
Iraq 33.0955793 44.1749775
Federated States of Micronesia 8.6062347 151.832744331612
Iceland 64.9841821 -18.1059013
Bhutan 27.549511 90.5119273
Pakistan 30.3308401 71.247499
Lebanon 40.375713 -76.4626118
Burundi -3.426449 29.9324519
Ethiopia 10.2116702 38.6521203
Togo 8.7800265 1.0199765
Georgia 32.3293809 -83.1137366
Trinidad and Tobago 10.7466905 -61.0840075
Nicaragua 12.6090157 -85.2936911
Maldives 3.7203503 73.2244152
Mauritius -20.2759451 57.5703566
Bulgaria 42.6073975 25.4856617
Estonia 58.7523778 25.3319078
Dominican Republic 19.0974031 -70.3028026
Angola -11.8775768 17.5691241
Seychelles -4.6574977 55.4540146
Panama 8.559559 -81.1308434
Niger 17.7356214 9.3238432
Tunisia 36.8002068 10.1857757
Bolivia -17.0568696 -64.9912286
Afghanistan 33.7680065 66.2385139
Liberia 5.7499721 -9.3658524
Zimbabwe -18.4554963 29.7468414
Cape Verde 16.0000552 -24.0083947
United Arab Emirates 24.0002488 53.9994829
Italy 42.6384261 12.674297
Madagascar -18.9249604 46.4416422
South Africa -28.8166236 24.991639
Senegal 14.4750607 -14.4529612
Austria 47.59397 14.12456
Sudan 34.0678644 -102.524362
United States 39.7837304 -100.445882
North Macedonia 41.6171214 21.7168387
Sri Lanka 7.5554942 80.7137847
China 35.0000663 104.999955
Sierra Leone 8.6400349 -11.8400269
Papua New Guinea -5.6816069 144.2489081
Serbia 44.024322850000004 21.07657433209902
Mauritania 20.2540382 -9.2399263
Argentina -34.9964963 -64.9672817
Albania 5.7587654 -73.9151617
Malaysia 4.5693754 102.2656823
Zambia -14.5189121 27.5589884
Greece 38.9953683 21.9877132
Guyana 4.8417097 -58.6416891
Ghana 8.0300284 -1.0800271
Brunei 4.4137155 114.5653908
Slovenia 46.1199444 14.8153333
Bahamas 24.7736546 -78.0000547
Rwanda -1.9646631 30.0644358
Guinea 10.7226226 -10.7083587
Australia -24.7761086 134.755
Ukraine 49.4871968 31.2718321
Moldova 47.2879608 28.5670941
Luxembourg 49.6112768 6.129799
Cuba 23.0131338 -80.8328748
Bosnia and Herzegovina 44.3053476 17.5961467
Portugal 39.6621648 -8.1353519
Uzbekistan 41.32373 63.9528098
Haiti 19.1399952 -72.3570972
Benin 9.5293472 2.2584408
Belarus 53.4250605 27.6971358
Burkina Faso 12.0753083 -1.6880314
Monaco 43.7323492 7.4276832
Bangladesh 24.4769288 90.2934413
Germany 51.1638175 10.4478313
Oman 21.0000287 57.0036901
Cambodia 12.5433216 104.8144914
Kazakhstan 48.1012954 66.7780818
Spain 39.3260685 -4.8379791
Tanzania -6.5247123 35.7878438
Kyrgyzstan 41.5089324 74.724091
Somalia 8.3676771 49.083416
Mongolia 46.8250388 103.8499736
Gabon -0.8999695 11.6899699
South Sudan 7.8699431 29.6667897
Syria 34.8147886 38.42317811509885
Yemen 16.3471243 47.8915271
Libya 26.8234472 18.1236723
Thailand 14.8971921 100.83273
Cameroon 4.6125522 13.1535811
Chile -31.7613365 -71.3187697
Nigeria 9.6000359 7.9999721
Colombia 4.099917 -72.9088133
Kenya 1.4419683 38.4313975
The Gambia 13.470062 -15.4900464
Philippines 12.7503486 122.7312101
Croatia 45.3658443 15.6575209
Brazil -10.3333333 -53.2
Democratic Republic of the Congo -2.9814344 23.8222636
Belize 17.1204943 -88.6859028
Guatemala 15.5855545 -90.345759
Laos 20.0171109 103.378253
Switzerland 46.7985624 8.2319736
Azerbaijan 40.3936294 47.7872508
Ecuador -1.3397668 -79.3666965
Taiwan 23.5983227 120.83537694479215
Nepal 28.3780464 83.9999901
Algeria 28.0000272 2.9999825
Iran 32.6475314 54.5643516
Uruguay -32.8755548 -56.0201525
Palestinian Territories 31.462420950000002 34.26272151195113
Morocco 28.3347722 -10.371337908392647
Montenegro -29.6826112 -51.4687455
United Kingdom 54.7023545 -3.2765753
Qatar 25.3336984 51.2295295
Canada 61.0666922 -107.991707
Botswana -23.1681782 24.5928742
Sweden 59.6749712 14.5208584
Finland 63.2467777 25.9209164
Myanmar 17.1750495 95.9999652
Mexico 19.4326296 -99.1331785
Armenia 4.536307 -75.6723751
Romania 45.9852129 24.6859225
India 22.3511148 78.6677428
Venezuela 8.0018709 -66.1109318
None 44.933143 7.540121
Peru -6.8699697 -75.0458515
Côte d'Ivoire 7.9897371 -5.5679458
Cyprus 34.9174159 32.889902651331866
Egypt 26.2540493 29.2675469
Turkey 38.9597594 34.9249653
Uganda 1.5333554 32.2166578
Malawi -13.2687204 33.9301963
Malta 35.8885993 14.4476911
Mozambique -19.302233 34.9144977
Guinea-Bissau 11.815215 -15.2351044
Paraguay -23.3165935 -58.1693445
Central African Republic 7.0323598 19.9981227
New Zealand -41.5000831 172.8344077
Mali 16.3700359 -2.2900239
Slovakia 48.7411522 19.4528646
Honduras 15.2572432 -86.0755145
Japan 36.5748441 139.2394179
Jamaica 18.1850507 -77.3947693
Israel 30.8124247 34.8594762
Bahrain 26.030093 50.553336789123236
Denmark 55.670249 10.3333283
Indonesia -2.4833826 117.8902853
Belgium 50.6402809 4.6667145

In [25]:
with open(r'E:\Works\Intro-to-Data-Science\2110403_DSDE_Final_Project\src\data\db-data\country_lat_lon.json', 'w') as f:
    json.dump(lat_long_dict, f, indent=4)

In [37]:
def lat_mapper(x):
    if x == None:
        return None
    if x in lat_long_dict:
        return lat_long_dict[x][0]
    else:
        return None
    
def lon_mapper(x):
    if x == None:
        return None
    if x in lat_long_dict:
        return lat_long_dict[x][1]
    else:
        return None

In [38]:
df['latitude'] = df['country_name'].apply(lambda x: lat_mapper(x))
df['longitude'] = df['country_name'].apply(lambda x: lon_mapper(x))
print(lat_mapper('Thailand'), lon_mapper('Thailand'))
df

14.8971921 100.83273

,title,name,affiliation,subject_code,cited_count,pub_type,year,predict_gender,country_name,latitude,longitude
0,Public health and international epidemiology f...,Krit,Thailand,2700,1,Book,2018,m,Thailand,14.897192,100.832730
1,Public health and international epidemiology f...,Krit,United States,2700,1,Book,2018,m,United States,39.783730,-100.445882
2,Flexible Printed Active Antenna for Digital Te...,Teerapong,Thailand,2208,1,Conference Proceeding,2018,m,Thailand,14.897192,100.832730
3,Flexible Printed Active Antenna for Digital Te...,Panuwat,Thailand,2208,1,Conference Proceeding,2018,m,Thailand,14.897192,100.832730
4,Flexible Printed Active Antenna for Digital Te...,Teerapong,Thailand,2504,1,Conference Proceeding,2018,m,Thailand,14.897192,100.832730
...,...,...,...,...,...,...,...,...,...,...,...
300359,Biotransformation of 8:2 polyfluoroalkyl phosp...,Noelia,Unknown,2305,24,Journal,2017,f,None,NaN,NaN
300360,Biotransformation of 8:2 polyfluoroalkyl phosp...,Adrian,Unknown,2305,24,Journal,2017,m,None,NaN,NaN
300361,Biotransformation of 8:2 polyfluoroalkyl phosp...,Jonathan,Unknown,2305,24,Journal,2017,m,None,NaN,NaN
300362,Biotransformation of 8:2 polyfluoroalkyl phosp...,Ailette,Unknown,2305,24,Journal,2017,f,None,NaN,NaN
300363,Biotransformation of 8:2 polyfluoroalkyl phosp...,Olatz,Unknown,2305,24,Journal,2017,m,None,NaN,NaN

In [39]:
df.to_json(r'E:\Works\Intro-to-Data-Science\2110403_DSDE_Final_Project\src\data\db-data\predicted_data_with_country_lat_lon.json', orient='records', lines=True)